<h1> <%= @guest.name %> </h1>
<h3> Episodes: </h3>
<ul>
<% @guest.appearances.sort{|a, b| b.episode.average_rating <=> a.episode.average_rating}.each do |appearance| %>
    <li>Date: <%= link_to appearance.episode.date, episode_path(appearance.episode_id) %></li>
    <li>Rating: <%= appearance.rating %></li>
<% end %>
</ul>