<h1><%= @guest.name%>'s Appearances</h1>

<h4>Seen on</h4>

<ul>Episodes: 
    <ul>
        <li> <%=@guest.episodes.pluck(:date).join(", ") %> </li>
        <li> <%=@guest.episodes.pluck(:rating).join(", ") %> </li>
    </ul>
</ul>
</div>