<h1> <%=@guest.name%></h1>
<% @guest.episodes.each do |episode|%>
<h3>Episodes <%= link_to episode.number, episode_path(episode.id) %> </h3>
<h3> Aired : <%= episode.date%></h3>
<ul>
<% episode.appearances.each do |appearance| %>
 <li>Rating : <%= appearance.rating%></li>
<% end %>
</ul>
<% end %>
