<h1>This is the Episode Deets!!!</h1>

<%= @episode.date %>


<% @episode.guests.each do |guest| %>
<div>
<%= link_to guest.name, guest_path(guest.id) %>  <%= guest.occupation %>
</div>
 
<% end %>
Rating avg: <%=@average%>