<h1>Episode <%=@episode.id%></h1>

<div><br>
<h4>Program Details:</h4>
    <ul>
        <li>Date: <%= @episode.date %></li>
        <li>Guests:</li>
            <ul>
                <div><li><%=link_to @episode.guests.pluck(:name).join(", "), guests_path%></li></div>
            </ul>
        

    <ul>

</div>
