<h1>Episode</h1>
<h2>Date: <%= @episode.date %></h2>
<h3>Average Rating: <%= @average %></h3>
<ul>
<% @episode.guests.each do |guest| %>
    <li><%= link_to guest.name, guest_path(guest) %></li>
<% end %>
</ul>