<h2>Episode <%= @episode.number %></h2>

<div>
    <strong>Date</strong> : <%= @episode.date_to_s %>
</div>

<div>
    <strong>Rating</strong> : <%= @episode.rating %>
</div>


<h3>
    <strong>Guests : </strong>
</h3>

<ul>
    <% @episode.guests.each do |guest| %>
        <li><%= link_to guest.name, guest_path(guest.id) %></li>
    <% end %>
</ul>