<h1>Episode <%=@episode.number%></h1>
<h3>Date: <%=@episode.date%></h3>
<%if @episode.guests.any?%>
  <h3>Guest Appearances</h3>
  <ul>
  <%@episode.guests.each do |guest|%>
  <li><%=link_to guest.name, guest_path(guest.id)%></li>
  <%end%>
  </ul>
<%else%>
 <h2>No Guest Appearances</h2>
<%end%>



  


