<h1>All Appearances</h1>


<% @appearances.each do |appearance|%>
    <div>Guest: <%= appearance.guest_id %></div>
    <div>Episode: <%= appearance.episode_id %></div>
    <br>
<% end %>

<%= link_to 'Back to episodes', episodes_path%>
<!-- want to figure out how to print the guest names instead of the guest ids>